.table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255);
}

.table-centrada {
    padding: 30px 10% 20px 10%;
}

.table td,
.table th {
    padding: 9px 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.table th {
    background-color: rgb(29, 124, 212);
    color: #ffffff;
}

.table td:hover {
    background-color: rgb(236, 231, 231);
}